<div class="row activity" ng-repeat="activity in event.activities">
    <div class="col-xs-1">
        <span class="module-icon glyphicon glyphicon-stats"></span>
    </div>
    <div class="col-xs-8">
        <h3>{{ activity.name }}</h3>
        <p><strong>Question: </strong>{{ activity.customData.pollDescription.question }}</p>
        <p><strong>Status: </strong><span class="poll-status label label-default">not started</span></p>
    </div>
    <div class="col-xs-3 text-right">
        <p><a class="btn btn-primary" ng-click="startPoll()">Start poll</a></p>
        <a class="btn btn-default" ng-click="startPoll()">Poll settings</a>
    </div>
    <hr/>
</div>