<div class="row activity" ng-repeat="activity in event.activities">
    <div class="col-xs-1">
        <span class="module-icon glyphicon glyphicon-stats"></span>
    </div>
    <div class="col-xs-8">
        <h3>{{ activity.name }}</h3>
        <p><strong>Question: </strong>{{ activity.customData.pollDescription.question }}</p>
        <p><strong>Status: </strong>
            <span ng-if="activity.state == 'planned'" class="poll-status label label-default">not started</span>
            <span ng-if="activity.state == 'started'" class="poll-status label label-success">voting in progress</span>
            <span ng-if="activity.state == 'ended'" class="poll-status label label-danger">ended</span>
        </p>
    </div>
    <div class="col-xs-3 text-right">
        <p><a class="btn btn-primary" ng-click="startPoll(activity._id, $index)">Start poll</a></p>
    </div>
    <hr/>
</div>