<div class="container vote" ng-class="{show: showUI}">
	<h1>{{ activity.customData.pollDescription.question }}</h1>

	<form cass="vote-form" novalidate ng-submit="submitVote(vote)" ng-if="!voteRegisterd">
        <div class="alert alert-danger" role="alert" ng-if="invalid">Please select an answer</div>
        <div class="answers">
            <div class="form-group" ng-repeat="answer in activity.customData.pollDescription.answers">
                <div class="radio">
                    <label for="vote_{{ activity.customData.pollDescription.answers[$index].id }}">
                        <input type="radio" name="voteGroup" ng-model="$parent.vote" id="vote_{{ activity.customData.pollDescription.answers[$index].id }}"
                               value="{{ activity.customData.pollDescription.answers[$index].id }}"/>
                        {{ activity.customData.pollDescription.answers[$index].answer }}
                    </label>
                </div>
            </div>
        </div>
	    <div class="form-group">
	        <input type="submit" value="Vote" class="btn btn-primary input-lg form-control"/>
	    </div>
	    <div>
	        <pre>
	        	{{ vote | json }}
	        </pre>
	    </div>
	    
	</form>

	<div class="complete text-center" ng-if="voteRegisterd">
	    <h1 class="text-center">Vote registered</h1>
	    <div class="success-icon">
	        <span class="glyphicon glyphicon-ok"></span>
	    </div>
	</div>
</div>