
body.events header.section {
  position: relative;
}

header.section {
  .ongoing-event {
    float: left;
  }
}

.ongoing-event {
  background: $cs-green;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin: 20px 0 0 20px;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    left: 0;
    background: linear-gradient(to right, rgba(77, 166, 36, 0) 0%, lighten($cs-green, 10%) 50%, rgba(77, 166, 36, 0) 100%);
    animation: shine 3s 2s infinite;
    z-index: 1;
  }

  span {
    display: inline-block;
    padding: 5px 8px;
    position: relative;
    z-index: 2;
  }

  a {
    color: #fff;
    line-height: 30px;
    background: darken($cs-green, 10%);
    padding: 7px 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    z-index: 2;
  }
}

.event-stats {
  text-align: center;
  span {
    font-size: 42px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
  }
  .progress {
    margin-bottom: 0;
    background-color: #fff;
  }
}

.single-event {
  .nav-tabs {
    h4 {
      margin: 0;
    }
    .glyphicon {
      top: 2px;
    }
  }
  .tab-content {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 4px 4px;
    h3 {
      margin-top: 0;
    }
    .table:last-child {
      margin-bottom: 0;
    }
  }
}

@keyframes shine {
  0% {
    left: -45%;
  }
  100% {
    left: 120%;
  }
}
