header.main {
  @include clearfix;
  margin: 20px 0 40px;

  .logo {
    float: left;
    margin-right: 50px;

     h3 {
       margin: 0;
       line-height: 52px;
       color: $cs-orange;
     }
  }
  .login-btn {
    margin-right: 10px;
  }

  .btn { margin-top: 10px !important; }

  .navbar { margin-bottom: 0; }

  .welcome {
    line-height: 52px;
    padding-right: 10px;
    margin-bottom: 0;
  }
}