header.main {
  @include clearfix;
  padding: 30px 0;
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px;

  .logo {
    float: left;
    margin-right: 50px;
    position: relative;
    top: -5px;

     h3 {
       margin: 0;
       line-height: 52px;
       color: $cs-orange;
     }
  }
  .login-btn {
    margin-right: 10px;
  }

  .navbar { margin-bottom: 0; }

  .welcome {
    line-height: 52px;
    padding-right: 10px;
    margin-bottom: 0;
  }
}