
.home {
  header.main {
    margin-bottom: 0;
    border-bottom: 0;
    .navbar { display: none; }
  }
}

.banner {
  box-shadow: 1px 0 15px rgba(0,0,0,0.2) inset;
  background: url(../images/home-bg.jpg) no-repeat center;
  background-size: cover;

  .text {
    max-width: 600px;
    float: right;
    color: #fff;
    h1 {
      font-size: 56px;
      text-shadow: 1px 2px 8px rgba(0,0,0,0.3);
      text-rendering: geometricPrecision;
    }

    p {
      font-size: 18px;
    }
  }

  .banner-content {
    overflow: hidden;
    padding: 50px;
  }
}