.new-event-wizard {
  max-width: 480px;
  margin: 0 auto;

  header {
     text-align: center;
     h1 { margin-bottom: 20px;}
     margin-bottom: 20px;
  }

  .date-group {
    position: relative;
  }
}

#signup-form {
  position: relative;
  min-height: 300px;
  overflow: hidden;
  padding: 30px;
  transition: height 0.3s ease;
}
#form-views             { width:auto; }

// TODO Fix sliding animations
/*
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
  transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

#form-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease;
}

#form-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;
}
*/


/* ANIMATIONS,
============================================================================= */
/*
@keyframes slideOutLeft {
  to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
  to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to      { -webkit-transform: translateX(-200%); }
}

@keyframes slideInRight {
  from    { transform:translateX(200%); }
  to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from    { -moz-transform:translateX(200%); }
  to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from    { -webkit-transform:translateX(200%); }
  to      { -webkit-transform: translateX(0); }
}*/