header.section {
  margin-bottom: 19px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  min-height: 70px;

  h1 {
    float: left;
    padding: 15px 0;
    margin: 0;
    min-height: 69px;
  }

  .actions {
    padding-top: 15px;
    float: right;
    overflow: hidden;

    .add {
      margin-left: 10px;
    }
  }

}

.main-content {
  margin-top: 19px;
}