/* Color scheme */
$cs-blue: #1b62bf;
$cs-white: #fff;
$cs-gray: #ccc;
$cs-green: #4da624;
$cs-orange: #f24405;

/* Overriding bootstrap default variables */
$brand-primary: $cs-blue;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header";
@import "section";
@import "dashboard";
@import "misc";
