/* Color scheme */
$cs-blue: #1b62bf;
$cs-white: #fff;
$cs-gray: #ccc;
$cs-green: #4da624;
$cs-orange: #f24405;

/* Overriding bootstrap default variables */
$brand-primary: $cs-blue;

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "header";
@import "home";
@import "section";
@import "forms";
@import "login";
@import "modules";
@import "dashboard";
@import "events";
@import "newEventWizard";
@import "misc";


//TODO Move to separate typography file
h1, h2, h3 h4, h5, h6 {
  font-family: Lato;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.poll header.main {
  display:none;
}

body.poll { padding-top: 20px; }

.navbar-toggle {
  margin-left: 8px;
}