<div class="container">
    <div class="form-wrap narrow">
        <header><h1>Login</h1></header>
        <div class="alert alert-danger" role="alert" ng-show="notAuthorized">You need to be logged in to access that page</div>
        <div class="alert alert-warning" ng-show="wrongCredentials" role="alert">
            <strong>Oops!</strong> Those credentials are wonky
        </div>
        <form cass="login-form" novalidate ng-submit="loginFormSubmit(email,password)" cg-busy="{promise:loginPromise,message:'Logging in',delay:0}">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" class="form-control input-lg username" ng-model="email" name="email" ng-required placeholder="Your email" type="text"
                       name="email"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" class="form-control input-lg password" minlength="4" ng-required
                       placeholder="Your password" type="password"
                       name="password" ng-model="password"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary input-lg form-control"/>
            </div>
        </form>
        <p class="text-center">Don't have an account yet? <a ui-sref="app.register">Register here</a></p>
    </div>
</div>
