<!doctype html>
<html class="no-js">
  <head>
    <base href="/"/>
    <meta charset="utf-8">
    <title>Web App - Interactive Events</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />
    <link rel="stylesheet" href="bower_components/angular-hotkeys/build/hotkeys.min.css" />
    <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="ieventsWebApp" ng-class="$state.current.name | stateToClasses">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="main ng-cloak" ng-show="showHeader" ng-cloak ng-controller="HeaderCtrl">
        <div class="container">
            <div class="logo">
                <a ui-sref="app.home">
                    <img src="/images/logo.png" alt="Inact"/>
                </a>
            </div>
            <nav class="navbar navbar-default pull-left ng-cloak" role="navigation" ng-if="auth.isAuthenticated()">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active"><a ui-sref="app.admin.dashboard">Dashboard</a></li>
                    <li ng-class="{active:$state.includes('app.admin.events')}"><a ui-sref="app.admin.events.list">Events</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.admin.people">People</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.admin.beacons">Beacons</a></li>
                </ul>
                    </div>
            </nav>
            <div class="not-logged-in pull-right ng-cloak" ng-if="!auth.isAuthenticated()">
                <button ui-sref="app.login" type="button" class="btn btn-default login-btn">Login</button>
                <button ui-sref="app.register" type="button" class="btn btn-success">Register</button>
            </div>
            <div class="profile-info pull-right ng-cloak" ng-if="auth.isAuthenticated()">
                <span class=" welcome">Welcome, Bob </span>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="app.admin.dashboard">Dashboard</a></li>
                        <li><a href="#">My profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="logout()" href="">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Main content of the page -->
    <div ui-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <script src="http://interactive-events.elasticbeanstalk.com/socket.io/socket.io.js"></script>
    <!--<script src="http://server.raxo.se:8888/socket.io/socket.io.js"></script>-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angularjs-geolocation/src/geolocation.js"></script>
    <script src="bower_components/angular-hotkeys/build/hotkeys.min.js"></script>
    <script src="bower_components/angular-fullscreen/src/angular-fullscreen.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/events.js"></script>
        <script src="scripts/controllers/people.js"></script>
        <script src="scripts/controllers/beacons.js"></script>
        <script src="scripts/controllers/menu.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/newevent.js"></script>
        <script src="scripts/controllers/singleevent.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/poll.js"></script>
        <script src="scripts/controllers/mapmodal.js"></script>
        <script src="scripts/controllers/neweventaddactivitymodal.js"></script>
        <script src="scripts/controllers/presentermode.js"></script>
        <script src="scripts/controllers/presentermodeviewactivity.js"></script>
        <!-- endbuild -->
</body>
</html>
