<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app.admin.events.presenterMode.list({eventId: event.id})">{{event.title}}</a>
        </div>
        <a class="pull-right btn btn-default navbar-btn" ng-click="toggleFullScreen()">
            <span ng-if="!fs.isEnabled()" class="glyphicon glyphicon-fullscreen"></span>
            <span ng-if="fs.isEnabled()" class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</nav>
<ui-view/>
