<div class="container">
    <header class="section">
        <h1>Events</h1>
        <!--<span class="ongoing-event"><span>1 event in progress: An awesome event</span> <a ng-href="/events/123/">Go to event</a></span>-->

        <div class="actions">
            <a ui-sref="app.admin.events.new-event.step1" class="btn btn-success add">New event</a>

            <div class="btn-group">
                <button type="button" class="btn btn-default">Upcoming</button>
                <button type="button" class="btn btn-default">Old</button>
            </div>
        </div>
    </header>
    <table class="table" cg-busy="eventsPromise">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Starts</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in eventsResponse.events">
            <td><a ui-sref="app.admin.events.single-event.activities({eventId:obj.event.id})">{{obj.event.title}}</a></td>
            <td>{{obj.event.time.start | date:mediumDate}}</td>
            <td>{{obj.event.time.start | date:'HH:mm'}}</td>
            <td>{{obj.event.location.name}}</td>
        </tr>
        </tbody>
    </table>
</div>
