<header class="section">
    <h1>Events</h1>
    <span class="ongoing-event"><span>1 event in progress: An awesome event</span> <a ng-href="/events/123">Go to event</a></span>
    <div class="actions">
        <a ui-sref="new-event.step1" class="btn btn-success add">New event</a>
        <div class="btn-group">
            <button type="button" class="btn btn-default">Upcoming</button>
            <button type="button" class="btn btn-default">Old</button>
        </div>
    </div>
</header>
<table class="table" cg-busy="eventsPromise">
    <thead>
    <tr>
        <th>id</th>
        <th>Tittle</th>
        <th>Start time</th>
        <th>Date</th>
        <th>Public</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="obj in eventsResponse.events">
        <td>{{obj.event.id}}</td>
        <td>{{obj.event.title}}</td>
        <td>{{obj.event.startTime}}</td>
        <td>{{obj.event.date}}</td>
        <td>{{obj.event.public}}</td>
    </tr>
    </tbody>
</table>
