<div class="banner">
    <div class="container">
        <div class="banner-content">
            <div class="text"><h1>Interaction. Enabled.</h1>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
                    ultricies
                    eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.</p></div>
            <div class="phone"></div>
            <svg class="bluetooth-icon" viewBox="0 200 500 100">

                <path style="fill:none;stroke:#fff;stroke-width:13.42755318;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" d="m 37.507291,914.28125 70.437349,70.43735 -31.035609,31.0356 0,-124.68219 30.765729,30.76573 -69.897589,70.16747" id="path2984"/>

            </svg>

            <div class="bluetooth">
                <div class="bar one">
                    <div class="bar two">
                        <div class="bar three">
                            <div class="bar four">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="container">
            <div class="home-section"></div>
            <div style="height: 3000px;"></div>
        </div>