<div class="container">
    <header class="section">
        <h1>People</h1>

        <div class="actions">
            <button class="btn btn-success add">Add person</button>
            <div class="btn-group">
                <button type="button" class="btn btn-default">Individuals</button>
                <button type="button" class="btn btn-default">Groups</button>
            </div>
        </div>
    </header>
    <table class="table" cg-busy="peoplePromise">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in peopleResponse.users">
            <td>{{obj.user.name}}</td>
            <td>{{obj.user.username}}</td>
        </tr>
        </tbody>
    </table>
</div>
