<div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control" id="name" ng-model="formData.name">
</div>

<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" class="form-control" id="description" ng-model="formData.description"></textarea>
</div>
<div class="form-group date-group">
    <label for="date">Date & time</label>

    <div class="input-group date-group">
        <input type="text" class="form-control" datepicker-popup="dd MMMM yyyy" id="date" ng-model="formData.date" is-open="opened" min-date="minDate" ng-required="true"
               close-text="Close"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
    </div>
</div>

<a ui-sref="app.new-event.step2" class="btn pull-right btn-primary">
    Next <span class="glyphicon glyphicon-arrow-right"></span>
</a>
</div>